/* Container for both images: welcome and why choose us */
.images-container {
    display: flex; 
    align-items: center; 
    margin: 80px 200px;  /* Adds spacing above and below each image */
}

/* Individual image containers */
.welcome-image-container, .why-choose-us-image-container, .people-image-container, .explore-services-image-container {
    margin: 0 20px 20px 20px; /* Adds spacing between the two containers */
}

/* Image styling */
.why-choose-us-image, .welcome-image{
    width: 250px; 
    max-width: 100%; 
    border-radius: 10px; 
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

/* Image styling */
.people-image{
    width: 320px; 
    max-width: 100%; 
    border-radius: 10px; 
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
    height: 250px; 
}
/* Image styling */
.explore-services-image{
    width: 250px; 
    border-radius: 10px; 
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
    height: 150px; 
}


/*--------------------------------------------------------------------------------------------------------------*/


/* Add an image in section About Us */
/* Centering the About Us section image */
.about-us-image-container {
    text-align: center; /* Center-align the content inside the container */
    margin: 20px auto; /* Add some space around the image container */
    margin-top: 100px;
}

.about-us-image-container img {
    width: 300px; 
    height: auto; 
    display: inline-block; 
}


/*--------------------------------------------------------------------------------------------------------------*/

/* for contact us image */
.contact-us {
    display: flex;
    justify-content: space-between; /* Aligns the content and image container side by side */
    align-items: flex-start; /* Aligns content to the top level */
    gap: 90px; /* Adds space between the text and image */
}

.contact-content {
    width: 60%; /* Adjust as necessary */
}

.contact-image img {
    width: 100px; /* Adjust the size of the image */
    border-radius: 10px; /* Optional: adds rounded corners */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for a nicer look */
}
