/* Container for both images: welcome and why choose us */
.images-container {
    display: flex; 
    align-items: center; 
    margin: 80px 200px;  /* Adds spacing above and below each image */
}

/* Individual image containers */
.welcome-image-container, .why-choose-us-image-container, .people-image-container, .explore-services-image-container {
    margin: 0 20px 20px 20px; /* Adds spacing between the two containers */
}

/* Image styling */
.why-choose-us-image, .welcome-image{
    width: 250px; 
    max-width: 100%; 
    border-radius: 10px; 
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

/* Image styling */
.people-image{
    width: 320px; 
    max-width: 100%; 
    border-radius: 10px; 
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
    height: 250px; 
}
/* Image styling */
.explore-services-image{
    width: 250px; 
    border-radius: 10px; 
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
    height: 150px; 
}
