/* This is used for the styling of sign up, sign in */

/* Container for the signup box */
.signup-box {
    background-color: #f5f5f5; 
    padding: 30px;
    border: 1px solid #ccc; 
    border-radius: 10px; /* Rounded corners */
    width: 300px;  
    margin: 0 auto; /* Center the box horizontal; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* shadow */
    text-align: left; 
}

/* Labels for the form */
.signup-box label {
    display: block; /* Make labels block elements */
    margin-bottom: 0; /* Add space between label and input */
    font-weight: bold; 
}

/* Input fields for email and password */
.signup-box input[type="text"], .signup-box input[type="password"], .signup-box input[type="email"] {
    width: 100%;
    padding: 12px; 
    margin-bottom: 15px;
    border: 2px solid #ccc; /* thicker border */
    border-radius: 8px; /* rounded corners */
    box-sizing: border-box;
    font-size: 14px; 
}

/* Hover effect for the inputs */
.signup-box input[type="text"]:focus, .signup-box input[type="password"]:focus, .signup-box input[type="email"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2); 
}








/* For log in */



/* Style for the login box */
.login-box {
    background-color: #f5f5f5; /* Light gray background */
    padding: 30px;
    border: 1px solid #ccc; 
    border-radius: 10px; /* Rounded corners */
    width: 300px; 
    margin: 0 auto; /* Center the box horizontal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* shadow for depth */
    text-align: center; /* Center the text in the box */
}


/* Style for the logo in the navigation */
.nav-logo {
    width: 40px; 
    height: auto; 
    vertical-align: middle; 
    margin-right: 5px; /*  space between logo and text */
}